@model IEnumerable<Bliss_Programma.Models.Locatie>

@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht locaties</h1>

<p>
    <a asp-action="Create">Voeg nieuwe locatie toe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Straatnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toevoeging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaatsnaam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straatnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toevoeging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plaatsnaam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bewerk</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ruimtes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
