@model Bliss_Programma.Models.Reservering

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservering</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WerknemerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WerknemerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruimte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruimte.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
